body {
    background-color: #2C2B3D;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.page {
    width: 1092px;
    margin: 0 auto;
    padding-top: 71px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

ul {
    list-style: none;
    display: flex;
    gap: 64px
}

li a {
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    line-height: 28px; 
    color: #FFF;
}

li a:hover {
    color: #CCC;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1092px;
    margin: 0 auto;
}

h1 {
    margin: auto;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #FFF;
    font-weight: normal;
    margin-bottom: 40px;
}

h1 span {
    color: #00BFA6;
    font-weight: bold;
}

section p {
    width: 604px;
    margin: auto;
    font-size: 14px;
    color: #C2C2C2;
    line-height: 28px;
    text-align: center;
}

section p span {
    color: #00BFA6;
    font-weight: bold;
}

.line {
    margin: 120px auto 27px;
    border: 1px solid #00BFA6;
}

.footer {
    width: 568px;
    margin: auto;
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: #FFF;
}

.logoFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
}
